<div class="row">
  <div class="container">
    <app-header></app-header>
  </div>
</div>

<!--
<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      <input type="text" (keyup)="0" #input1 class="form-control" placeholder="Search for...">
    </div>
  -->
  <br/>

<div class="row">
  <!-- |filter:input1.value)-->
<table class="table">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Status</th>
    <th>Action</th>
  </thead>
<tr *ngFor="let item of allTasks">
  <td>{{item.Id}}</td>
  <td>{{item.Title}}</td>
    <td><span [ngClass]="{'donestatus': item.Status=='done','pendingstatus': item.Status=='pending'}" >{{item.Status}}</span></td>
    <td>
       <button  (click)='updateStatus(item)' type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                          </button>
                           <button (click)='deleteStatus(item)' type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                          </button>
    </td>
</tr>
</table>
</div>
